/******** General *********/
html {
    margin: 0;
}
body {
    margin: 0;
    padding-top: 70px;
}
.navbar-dark {
    background-color: #4e89ae;
}

thead { background-color: #89c9b8;}

footer {
    margin: 0 auto;
    padding: 20px 0 20px 0;
    background-color: #a2d5f2;
}
address {
    font-size: 80%;
    margin: 0;
    color: #0f0f0f;
}
.admin-login-container {
    margin: 5em auto;
}

/*------ Table --------*/
.table-container {
    margin-bottom: 3%;
}

.table-title {
    text-align: center;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1%;
}

/*------ Edit Form ------*/
#edit-user-form,
#edit-category-form,
#edit-customer-form,
#order-detail-form{
    width: 80%;
    align-self: center;
}

.form-title {
    text-align: center;
    font-size: 24px;
    align-items: center;
    font-weight: bold;
    margin-bottom: 1%;
}